<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
  <head>
  	<title>Calendar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<link th:href="@{/css/web-settings.css}" rel="stylesheet">
		
		<style type="text/css">
			.calendar { 
				display: flex;
				margin: 70px 0 30px 0; 
				width: 500px; 
				height: 350px; 
				border: 3px solid #13254C; 
				border-radius: 10px; 
				background-color: #13254C;
			}
		</style>
		
	</head>
	<body>

	<div class="section">	
		<div class="calendar">
			<section class="ftco-section">
				<div class="calendar-first" id="calendar_first">
			    <div class="calendar_header">
			        <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
			         <h2></h2>
			        <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
			    </div>
			    <div class="calendar_weekdays"></div>
			    <div class="calendar_content"></div>
				</div>
			</section>
		</div>
	</div>

  <script th:src="@{/js/jquery.min.js}" ></script>
  <script th:src="@{/js/main.js}" ></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>

	</body>
</html>

