<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- title 지정 -->
		<title>CareOps+ | 의료기기 목록</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/web-settings.css}" rel="stylesheet">
		
		<style type="text/css">
			/* 테이블 */
			.table { text-align: center; vertical-align: inherit; }
			.table-row { line-height: 40px; }
			.table-head { font-size: 20px; font-weight: 600; }
			tr { height: 50px;  border-bottom: 1px solid #d9d9d9; }
			
			/* 상세보기 */
			.data-add { line-height: 40px; vertical-align: middle; }
			
			/* 버튼 */
			.btn-status { display: flex; }
			.btn-css { width: 80px; border-radius: 50px; }
			.btn-add { margin-left: auto; background-color: #13254C; color: white; }
			.btn-add:hover { border: 1px solid #13254C; }
			
		</style>
	</head>

	<body>
		<!-- 사이드바 -->
		<th:block th:replace="~{/common/side-bar}"></th:block>
		
		<!-- 컨텐츠 영역 -->
		<div class="content">
			<!-- 서비스 미리보기 -->
			<div class="section">
				<!-- 제목 -->
				<h1 class="title">의료관리 관리 <img alt="이동" th:src="@{/img/icon-next-b.png}" class="title-next"> 목록</h1>
				
				<table class="table table-hover">
				  <thead class="table-group">
				    <tr class="table-row table-head">
				      <th scope="col">장비대분류명</th>
				      <th scope="col">장비세분류명</th>
				      <th scope="col">모델명</th>
				      <th scope="col">장비수</th>
				      <th scope="col">부서</th>
				      <th scope="col">등록일</th>
				      <th scope="col">점검자</th>
				      <th scope="col">점검일</th>
				      <th scope="col">상태</th>
				      <th scope="col">상세보기</th>
				    </tr>
				  </thead>
				  <tbody class="table-group">
				  	<tr th:each="medical : ${ medicalDevicesList }" class="table-row">
				    	<!-- 장비대분류명 -->
				    	<td th:text="${ medical.lmdMinorCateCode }"></td>
				      
				      <!-- 장비세분류명 -->
				    	<td th:text="${ medical.lmdMinorCateName }"></td>
				      
				      <!-- 모델명 -->
				      <td th:text="${ medical.lmdDevicesName }"></td>
				      
				      <!-- 장비수 -->
				      <td th:text="${ medical.lmdDeviceCnt }"></td>
				      
				      <!-- 담당부서 -->
				      <td th:text="${ medical.lmdManagerDeptPart }"></td>
				      
				      <!-- 등록일 -->
				      <td th:text="${ medical.lmdDate }"></td>
				      
				      <!-- 점검자 -->
				      <td th:if="${ #strings.isEmpty(medical.lmdAdminName) }" th:text="${ medical.lmdAdminName }"></td>
				      
				      <!-- 점검일 -->
				      <td th:text="${ medical.lmdLastCheckDate }"></td>
				      
				      <!-- 버튼 -->
				      <td>
				      	<button type="button" class="btn btn-css btn-outline-success" disabled>정상</button>
				      	<!-- <button type="button" class="btn btn-css btn-outline-primary" disabled>수리 필요</button>
				      	<button type="button" class="btn btn-css btn-outline-secondary" disabled>점검 요망</button>
				      	<button type="button" class="btn btn-css btn-outline-warning" disabled>노후</button>
				      	<button type="button" class="btn btn-css btn-outline-danger" disabled>만료</button> -->
				      </td>
				      
				      <!-- 상세 보기 -->
				      <td><a href=""><img alt="이동" th:src="@{/img/icon-next-b.png}" class="data-add"></a></td>
				    </tr>
				  </tbody>
				</table>
				
				<div class="btn-status">
					<button class="btn btn-add" type="submit">신규 등록</button>
				</div>
				
				<!-- <div>
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li class="page-item">
					      <a class="page-link" href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="page-item"><a class="page-link" href="#">1</a></li>
					    <li class="page-item"><a class="page-link" href="#">2</a></li>
					    <li class="page-item"><a class="page-link" href="#">3</a></li>
					    <li class="page-item"><a class="page-link" href="#">4</a></li>
					    <li class="page-item"><a class="page-link" href="#">5</a></li>
					    <li class="page-item">
					      <a class="page-link" href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div> -->
				
					<div id="paging" >
		
		<!-- 맨 앞으로 이동 -->
		<button 
			th:onclick="'location.href=\'/menu/list?page=' + @{${paging.startPage}} + '\''">
			<<
		</button>
		
		<!-- 이전 페이지로 이동 -->
		<button 
			th:onclick="'location.href=\'/menu/list?page=' + @{${paging.currentPage - 1}} + '\''"
			th:disabled="${ medicalDevicesList.first }">
			<
		</button>
		
		<!-- 숫자 버튼 -->
		<th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:onclick="'location.href=\'/menu/list?page=' + @{${page}} + '\''"
					th:text="${ page }"
					th:disabled="${ paging.currentPage eq page }">
			</button>
		</th:block>
		
		<!-- 다음 페이지로 이동 -->
		<button 
			th:onclick="'location.href=\'/menu/list?page=' + @{${paging.currentPage + 1}} + '\''"
			th:disabled="${ medicalDevicesList.last }">
			>
		</button>
		
		<!-- 맨 끝으로 이동 -->
		<button 
			th:onclick="'location.href=\'/menu/list?page=' + @{${paging.endPage}} + '\''">
			>>
		</button>
	</div>
				
				<div class="search-box">
					<form class="category-search-box" action="/">
						<label class="notice-category" for="column"></label> 
						<select id="filter" name="filter">
							<option value="lmd_major_category_name">장비대분류명</option>
							<option value="lmd_minor_category_name">장비세분류명</option>
							<option value="lmd_devices_name">모델명</option>
							<option value="lmd_manager_dept_no">부서</option>
						</select> 
						<label for="search"></label> 
						<input class="input" type="search" name="search" id="search"> 
						<input class="input" type="submit" id="search-submit" value="검색">
					</form>
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>