<!DOCTYPE html>
<!-- 
@author 이홍준
@editDate 2024-09-19~ -->
<html xmlns:th="http://www.thymleaf.org">
  <head>
  	<meta charset="UTF-8">
  	<!-- title 지정 -->
  	<title>CareOps+ | 안전관리</title>
  	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  	<link th:href="@{/css/web-settings.css}" rel="stylesheet">
  	  
  	<style type="text/css">
      /* 목록 테이블 */
      .table { text-align: center; vertical-align: inherit; }
      .table-head { font-weight: 600; font-size: 20px; }
      .table-row { line-height: 40px; border-bottom: 1px solid #d9d9d9;  }
      .detail-a { cursor: pointer; }
      .detail-icon { width: 30px; line-height: 30px; vertical-align: middle; }
      /* 버튼라인 */
      .btn-line { display: flex; }
      /* 등록 버튼 */
      .registration { margin-left: auto; }
      .btn-registration { width: 130px; }
      .btn-checklist { width: 130px; }
      .btn {  background-color: #13254C; color: white; }
      .btn:hover { border: 1px solid #13254C; }
  	</style>
  </head>

	<body>
		<!-- 사이드바 -->
		<th:block th:replace="~{/common/side-bar}"></th:block>
		
		<!-- 컨텐츠 영역 -->
		<div class="content">
			<!-- 안전관리 목록 -->
			<h1 class="title">안전관리 <img alt="이동" th:src="@{/img/icon-next-b.png}" class="title-next"> 목록</h1>
			<div class="section">
				<!-- 제목 -->
    			<div>
    				<table class="table table-hover">
    				  <thead>
    				    <tr class="table-row table-head" >
    				      <th scope="col">No.</th>
    				      <th scope="col">작업자</th>
    				      <th scope="col">소화기</th>
    				      <th scope="col">스프링쿨러</th>
    				      <th scope="col">소화전설비</th>
    				      <th scope="col">피난설비</th>
    				      <th scope="col">유도등</th>
    				      <th scope="col">대피로</th>
    				      <th scope="col">비상방송설비</th>
    				      <th scope="col">비상구</th>
    				      <th scope="col">확인</th>
    				      <th scope="col">점검일자</th>
    				      <th scope="col">상세</th>
    				    </tr>
    				  </thead>
    				  <tbody>
    				    <tr class="table-row" >
    				      <th scope="row">1020</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1019</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1018</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1017</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1016</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1015</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1014</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1013</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr class="table-row" >
    				      <th scope="row">1012</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				    <tr>
    				      <th scope="row">1011</th>
    				      <td>Mark</td>
    				      <td>Otto</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td>@mdo</td>
    				      <td><a class="detail-a" ><img class="detail-icon" alt="상세보기" th:src="@{/img/detail-icon.png}"></a></td>
    				    </tr>
    				  </tbody>
    				</table>
                    <div class="btn-line" >
        				<div class="checklist">
        					<button onclick="location.href='/admin/checklist-edit'" class="btn btn-checklist" type="button">점검표 항목 수정</button>
        				</div>
        				<div class="registration">
        					<button class="btn btn-registration" type="button">등 록</button>
        				</div>
                    </div>
    				<div class="search-box">
    					<form class="category-search-box" action="/">
    						<label class="search-column" for="column"></label> 
    						<select id="column" name="column">
    							<option value="sm_no">점검번호</option>
    							<option value="admin_name">작업자</option>
    						</select> 
    						<label for="search"></label> 
    						<input class="input" type="search" name="search" id="search"> 
    						<input class="input" type="submit" id="search-submit" value="검색">
    					</form>
    				</div>
    			</div>
			</div>
		</div>
	</body>

	<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</html>