<!DOCTYPE html>

 <html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- title 지정 -->
		<title>CareOps+ | 부서 내 담당자</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/web-settings.css}" rel="stylesheet">
		
		<style type="text/css">
			.grid-container { display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 15px;	padding: 30px; }
			.grid-card { display: flex; background-color: #14254C;  color: #FFF; height: 120px; border-radius: 10px; padding: 3px; text-align: left;}
			.grid-card .manager-icon { width: 105px; }
			.grid-card .profile { margin-top: 16px; }
			.grid-card h3 { margin-bottom: 5px; font-size: 20px; }
		</style>
	</head>

	<body>
		<!-- 사이드바 -->
		<th:block th:replace="~{/common/side-bar}"></th:block>
		
		<!-- 컨텐츠 영역 -->
		<div class="content">
			
			<!-- section -->
			<div class="section">
				<!-- 제목 -->
				<h1 class="title" th:text="${session.department} + ' 담당자 목록'"> </h1>
				<div class="layout-table">
				<!-- 그리드 카드 -->
					<div class="grid-container">
				    <div class="grid-card" th:each = "manager : ${manager}">
							<img alt="담당자 아이콘" th:src="@{/img/manager-icon.png}" class="manager-icon">
							<div class="profile">
								<h3 th:text="${manager.managerDeptName}"></h3>
								<h3 th:text="'이 름 : ' +${manager.managerName}"></h3>
								<h4 th:text="'연락처 : ' + ${manager.managerPhoneNumber}"></h4>
							</div>
				    </div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
	</body>
</html>