<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- title 지정 -->
		<title>CareOps+ | 부서 내 담당자</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/web-settings.css}" rel="stylesheet">
		
		<style type="text/css">
			grid-container {
		    display: grid;
		    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		    gap: 16px;
			}
			.grid-card {
		    background-color: #fff;
		    border: 1px solid #14254C;
		    border-radius: 8px;
		    padding: 16px;
		    text-align: center;
			}
		</style>
	</head>

	<body>
		<!-- 사이드바 -->
		<th:block th:replace="~{/common/side-bar}"></th:block>
		
		<!-- 컨텐츠 영역 -->
		<div class="content">
			
			<!-- section -->
			<div class="section">
				<!-- 제목 -->
				<h1 class="title" ></h1>
				<div class="layout-table">
					<div class="grid-container">
						<h2> </h2>
					    <!-- 사용자 카드 -->
					    <div class="grid-card">
					        <h3></h3>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
	</body>
</html>